# Neon PostgreSQL Connection String (Found in Neon Console > Dashboard > Connection Details)
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-mute-recipe-a5vdctrn-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Admin Dashboard Password
ADMIN_PASSWORD="joshua"
